<h1>My profile</h1><br>
<p>My id : <%=@user.id%></p>
<p>My first name : <%=@user.first_name%></p>
<p>My last name :  <%=@user.last_name%></p>
<p>My email : <%=@user.email%></p>
<p>My description : <%=@user.description%></p>

